#Folders
.DS_Store
.vscode
.awsconfig
src/.___pycache__
src/commands/__pycache__
src/commands/.DS_Store
src/.pytest_cache
src/.DS_Store
src/.vscode
src/.awsconfig
devsrc
.pytest_cache
.DS_Store
.vscode
.awsconfig
src/._.DS_Store
src/._commands
src/commands/__pycache__
src/commands/.___pycache__
src/commands/._audiofiles
commandinputs.txt