#Folders
.DS_Store
.vscode
.awsconfig
__pycache__
src/commands/__pycache__
src/commands/.DS_Store
.pytest_cache
src/.DS_Store
src/.vscode
src/.awsconfig
devsrc

#Files
src/commands/fuck.py
src/devmain.py
src/devlisten.py
src/commands/devassistantvoice.py